/*Serve per non fare sommare px etc.. nei box*/
* { 
    box-sizing: border-box;
}
/*utilizzo caratteri font linkati*/
body {
    background-image: url("../filedilavoro/background.jpg");
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
}
/*Per spostare i box ho usato ispeziona elemento e ho controllato quanto spazio mi serve modificando i valori*/
.contenitore{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.575);
    color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    min-height: 84vh;
    border-radius: 3%;
}

header > img{
    margin-top: 8%;
    width: 200px; 
    height: auto;
}

header > div {
    margin: 0px;
    color: #00dd00;
    font-size: larger;
    font-weight: 550;
}

.contenitorebottoni{
    background-color: #00dd00;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
    min-height: 3vh;
    padding: 1px;
}

section {
    margin-top: 12px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
}


section > div.titolomonopattinoandata {
    margin: 0px;
    color: #ffffff;
    font-size: large;
}


section > div.testo{
    font-size: smaller;
}

div .testo:before {
    content: "\2192" ;
    margin: 0px;
    color: #ffffff;
}

div .testo:after {
    content: "\2013" ;
    margin: 0px;
    color: #ffffff;
}

section > div.testolontanza{
    font-size: smaller;
}

section > div.caricamento1 { 
    background-color: rgba(192, 153, 82, 0.877);
    width: 343px;
    height: 20px;
    border-radius: 3px;
}

section > div.caricamento2 { 
    background-color: rgba(221, 20, 6, 0.877);
    width: 200px;
    height: 20px;
    border-radius: 3px;
}
section > div.caricamento3 { 
    background-color: rgba(57, 59, 202, 0.877);
    width: 150px;
    height: 20px;
    border-radius: 3px;
}

.separatorefooter {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 21px;
}

div > input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #234dd8;
}
